<h3>{{viewName}}</h3>
<div class="alert alert-success " ng-show="showMsg" >
  <span class="glyphicon glyphicon-exclamation-sign"></span>
  <span class="sr-only">Success</span>
  Entred contact {{successMsg}} successfully.
</div>
<form class="well" >
    <label>Name</label>
    <input type="text" name="name" ng-model="newcontact.name" />
    <label>Address</label>
    <input type="text" name="address" ng-model="newcontact.address" />
    <label>Email</label>
    <input type="text" name="email" ng-model="newcontact.email" />
    <label>Phone</label>
    <input type="text" name="phone" ng-model="newcontact.phone" />
    <br/>
    <input type="hidden" ng-model="newcontact.id" />
    <input type="button" value="Save" ng-click="saveContact()" class="btn btn-primary" />
</form>
<input type="button" value="View" ng-click="goToView()" class="btn btn-primary">